
body {
    font-family: Arial, sans-serif;
    color: #f7f7f7; 
    display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;

}
.baixo{
    width:400px;
    height:300px;
    bottom:0;
    left:620px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.direita{
  right:0;
    top: 310px;
    width: 300px;
    height: 300px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
 
}
.esquerda{

    top:150px;
    left: 0;
    width: 400px;
    height: 400px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}
.cima{
    left:620px;
    top :0.5cm;
    width: 10cm;
    height: 250px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.girar{
  transform: rotate(90deg);
}

#textos{
  display: flex;
    margin-top:7cm;
    margin-bottom:3px;
    height: 1cm;
}

#textinho{
  margin-bottom:15cm;
  margin-top: 3px;
  width: 18cm;
  height: 4cm;
}
h1 {
  color: white;
  font-size: 2rem; 
  width: 90%;      
  margin: 20px auto;
  text-align: center;
}


h2{
  text-align: justify;
  width: 400px;
}

p {
    font-size: 18px;
}
body#home {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),
                    url("../img/foto_6.jpg");
  background-size : auto;       
  background-color: black;

  
}
a {
  color: white;
  font-size: 2rem;  
  text-decoration: none;
}
td a {
  font-size: 2.5rem;
}

@media (max-width: 600px) {
  td a {
    font-size: 3rem;   
  }
}


body#pagina1 {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),
                    url("../img/foto_13.jpeg"); 
  background-size: auto;       
  background-color: black;

  
}

body#pagina2 {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),
                    url("../img/foto_10.jpg");
  background-size: auto;       
  background-color: black;

}
body#pagina3 {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),
                    url("../img/foto_14.jpg");
  background-repeat: no-repeat; 
  background-size: cover;       
  background-color: black;

}

body#pagina4 {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),
                    url("../img/foto_23.jpg");
  background-size: auto;       
  background-color: black;

}
body#pagina5 {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),
                    url("../img/foto_27.jpeg");
  background-repeat: no-repeat; 
  background-size: cover;       
  background-color: black;

}

body#pagina6 {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),
                    url("../img/foto_31.jpeg"); 
  background-size: auto;       
  background-color: black;

}

body#pagina7 {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),
                    url("../img/foto_35.jpeg");
  background-repeat: no-repeat; 
  background-size: cover;       
  background-color: black;

}

body#pagina8 {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),
                    url("../img/foto_40.jpg");
  background-size: auto;       
  background-color: black;

}

body#pagina9 {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),
                    url("../img/foto_48.jpg");
  background-size: auto;       
  background-color: black;

}

body#pagina10 {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),
                    url("../img/foto_49.jpg");
  background-repeat: no-repeat; 
  background-size: cover;       
  background-color: black;

}

body#pagina11 {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),
                    url("../img/foto_58.jpeg");
  background-repeat: no-repeat; 
  background-size: cover;       
  background-color: black;

}

body#pagina12 {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),
                    url("../img/foto_63.jpeg");
  background-repeat: repeat; 
  background-size: cover;       
  background-color: black;

}

body#pagina13 {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),
                    url("../img/foto_65.jpeg");
  background-size: auto;       
  background-color: black;

}

body#pagina14 {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),
                    url("../img/foto_68.jpg");
  background-repeat: no-repeat; 
  background-size: cover;       
  background-color: black;

}

body#pagina15 {
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),
                    url("../img/foto_74.webp");
  background-repeat: repeat; 
  background-size: auto;       
  background-color: black;

}

body#extra{
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),
                    url("../img/foto_83.jpeg");
  background-repeat: repeat; 
  background-size: auto;       
  background-color: black;
}



.fade-in {
  opacity: 0;                /* começa invisível */
  animation: fadeIn 10s ease forwards; /* animação dura 2s */
}

@keyframes fadeIn {
  from {
    opacity: 0;   /* invisível */
  }
  to {
    opacity: 1;   /* totalmente visível */
  }
}
